@model MineBidz.Models.CreateBidGuestViewModel

@{
    ViewBag.Title = "Confirmation";
}

<div class="w3-panel">
<p>Your quote has been accepted for review. After review and payment processing your quote will be forwarded to the bid requestor and we will send you a confirmation. If they bid requestor has chosen to provide their contact information you will be provided with the information with your confirmation.</p></div>
