@model MineBidz.Models.CreateBidGuestViewModel

@{
    ViewBag.Title = "Confirmation";
}

<div class="w3-panel">
    <p>
        The organization issuing the procurement request determines whether responses are to be submitted directly to them or via our website. If the Request is marked “Public,” you will be submitting directly to the procurer. If the Request is marked “Private,” you will be submitting to us for forwarding to the procurer.
        For Public Requests, submission information will be provided to you after payment of our fee, and you will make your submission per instructions provided.
        For Private Requests, the fee is required immediately prior to uploading your response. Please note that the official time of submission will be the completion of file transfer. Since we are not and cannot be responsible for myriad technical problems that could occur during payment and uploading, we strongly suggest that you submit your response at least one business day in advance of closing.
    </p>
</div>
