@model MineBidz.Models.CreateBidGuestViewModel

@{
    ViewBag.Title = "Confirmation";
}

<div class="w3-panel">
<p>Your quote has been accepted for review.
After review and payment processing your quote would be forwarded to the requestor.
We will forward you a confirmation email. The requestor direct contact info wuld be included if the requestor allowed it.</p></div>
