@{
    ViewBag.Title = "Contact";
}
<div style="padding-left:10px;">
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<article>
<section class="contact">
    <header>
        <h3>Email Contacts:</h3>
    </header>
    <p>General Inquiries: <a href="mailto:info@minevendors.com">info@minevendors.com</a></p>
    <p>Support: <a href="mailto:support@minevendors.com">support@minevendors.com</a></p>
</section>

</article>
</div>
