@{
    ViewBag.Title = "FAQ";
}

<div class="w3-container">
    <hgroup class="title">
        <h1>FREQUENTLY ASKED QUESTIONS </h1>
    </hgroup>

    <article>
        <header>
            <h3>For mine operators…</h3>
        </header>
        <div>
            <div>
                I can’t find a really appropriate category or sub-category for my Request. What should I do?
            </div>
            <div style="padding-top: 5px">
                Select “Other” for the Category and Sub-category. Each time “other” is selected, we review the product or service requested to determine if a new category or sub-category is warranted. Why would I want my organization to be kept private? Large and successful companies sometimes feel that suppliers overcharge them. By using Minevendors.com as your procurement notice board, you can remain unknown to vendors until you have selected one to meet your needs.
            </div>
        </div>
        <header>
            <h3>For mine vendors…</h3>
        </header>
        <div>
            <div>
                When I respond to a request will I receive the mines contact information?
            </div>
            <div style="padding-top: 5px">
                The organization issuing the procurement request determines whether responses are to be submitted directly to them or via our website. If the Request is marked to allow vendors to view contact information, you will be submitting directly to the procurer. If the Request is marked “Private,” you will be submitting to us for forwarding to the procurer. For Public Requests, submission information will be provided to you after payment of our fee, and you will make your submission per instructions provided. For Private Requests, the fee is required immediately prior to uploading your response.
            </div>
        </div>
    </article>
</div>

