@model MineBidz.Models.RequestFormViewModel

@{
    if (Model.RequestForms != null)
    {
        ViewBag.Title = "Select Request";
    }
    else
    {
        ViewBag.Title = "Select Category";
    }
}

<div id="categories-title" style='height: 45px; width: 880px; background: url("../Images/category-title.png")'></div>

<div id="categories">
    @{ Html.RenderAction("Menu", "Nav"); }
</div>
<div>
    @if (Model.RequestForms != null)
    {
        if (Model.RequestForms.Count() > 0)
        {
        <div id="forms-title" style='height: 45px; width: 880px; background: url("../Images/subcategory-title.png")'></div>
        }

        //foreach (int subcategoryId in Model.RequestForms.OrderBy(f=>f.Title).Select(f => f.SubcategoryId).Distinct())
        foreach (Domain.Subcategory subcategory in Model.SubcategoryList.OrderBy(f => f.Title))
        {
            if (Model.RequestForms.Any(f => f.SubcategoryId == subcategory.Id))
            {
        <div style="float: left; margin-left: 5px; border: thin solid; width: 110px;">
            <div style="font-weight: 700; background-color: #b2aeae; padding-left: 2px">@subcategory.Title</div>
                @foreach (Domain.RequestForm f in Model.RequestForms.Where(f => f.SubcategoryId == subcategory.Id))
                {
                    <div style="padding-left: 2px">
                        @if (f.Implemented)
                        {
                            @Html.RouteLink(f.Title, new
                            {
                                controller = "Forms",
                                action = "Create",
                                formId = f.ClassName,
                                categoryId = Model.CategoryId,
                                subcategoryId = subcategory.Id
                            })
                        }
                        else
                        {
                            @Html.Label(f.Title)
                        }
                    </div>
                }
        </div>
            }
        }
    }
</div>
