@{
    ViewBag.Title = "Overview";
}

<div class="w3-container">
    <hgroup class="title">
        <h1>OVERVIEW PAGE</h1>
    </hgroup>

    <article>
        <div>
            Welcome to Mine Vendors! 
        </div>
        <div style="padding-top: 5px">
            The purpose of this site is to connect buyers with sellers in the mining industry. This streamlines the procurement process for both mine operators and mine vendors. 
        </div>

        <div style="padding-top: 5px">
            Mine Vendors supports both large and small Mines and Vendors. We know small companies may not be aware of all Vendors available to them and Vendors may not be aware of all of the mine operators. We are here to facilitate and streamline the procurement process for operators of all sizes.
        </div>

        <div style="padding-top: 5px">
            If you provide people, products or services to the mining industry, this is where you’ll connect to mine operators around the world. Here’s how it works. Mining companies post their requests for quotes, tenders, qualifications and proposals, choosing the most appropriate category and sub-category. Mine vendors review the list of Current Opportunities to select the requests of interest to them. Mining companies post for free. Mine vendors pay a small fee. It’s as easy as that, so let’s get to work!
        </div>

        <header>
            <h3>Mine Operators: Post a Request</h3>
        </header>
        <div>
            Mine Operators can upload documents. Just click on Post a Request, complete the online form and click submit. Your information will be verified. Once verified your request for quote will be listed on MineVendors.com within three business days.
        </div>
        <div style="padding-top: 5px">
            Requests can be of any standard type; e.g. Request for Expressions of Interest, Request for Qualifications, Request for Proposals, Request for Quotes, Request for Tenders. Mine Operators must insure that industry standards are met for completeness and accuracy. While there is no fee for posting a request or an amendment, the best responses will be received when vendors clearly understand all requirements.
        </div>
        <div style="padding-top: 5px">
            Before uploading a Request document, Mine Operators must complete a short form; choose a Category and Sub-category appropriate to the type of product or service being sought; and, decide whether or not to make their organizations information available to the vendor by checking the box that says Check if Vendor can contact you for additional information. If this option is checked in means that the name of the mine organization and response instructions (e.g. mailing or email address for submission), will be available to all vendors upon payment of our fee. If this option is not selected, vendors will not know who they are responding to, and submissions will be made only via upload to the Mine Vendors site.
        </div>

        <header>
            <h3>Mine Vendors: Search Current Opportunities and Respond to Requests</h3>
        </header>
        <div>
            <div>
                Any site visitor can review all Current Opportunities, which is the entirety of the Request with two possible exceptions. First, the name of the issuing organization and submission instructions are removed from all posted Request documents. This allows vendors to review all Requests at no cost to determine if they wish to submit a proposal or bid. When they are certain they wish to respond to a Request, vendors pay a small fee to gain access to the name of the issuing company and submission instructions.
            </div>
            <div style="padding-top: 5px">
                Second, if the mining organization wishes to remain anonymous until a vendor is selected, they can do so. In this case, the name of the mine/organization will be removed from the Request document. Vendors will pay their fee in order to submit their response/bid via our website.
            </div>
            <div style="padding-top: 5px">
                The organization issuing the procurement request determines whether responses are to be submitted directly to them or via our website. If the Request is marked “Public,” you will be provided with the contact information on the Mine operator once your fee is paid. If the Request is marked “Private,” you will be submitting to us for forwarding to the procurer.
            </div>
        </div>
    </article>
</div>
