@{
    ViewBag.Title = "Confirm";
}

<div style="padding-left:15px">
    <h2>Confirmation</h2>
    <br />
    <div>Thank you for the registration.</div>
    @if (ViewBag.Packages != null)
    {
        <div>You requested packages</div>
        foreach (Domain.Package pac in ViewBag.Packages)
        {
        <div>@pac.PackageText</div>  
        }
        
        <div style="padding-top: 20px">The packages would be available for you as soon as your payment processed.</div>
        <div>Please, contact administration for details.</div>
    }
</div>
